# ignore file for `prettier`
#
# update: wget https://git.io/fhNj3
# document: https://prettier.io/docs/en/ignore.html#ignoring-files
#

# also prettier dot files
!.*

# build file
lib/**
dist/**
**/*.min.*

# node_modules
node_modules/**

# fixtures
**/fixtures/**

# own glob
