# status
<% packages.forEach(function(pkg) { %>
## <%= pkg.name %>
[![npm](https://img.shields.io/npm/v/<%= pkg.name %>.svg?style=flat-square)](https://www.npmjs.com/package/<%= pkg.name %>)
[![npm](https://img.shields.io/npm/dt/<%= pkg.name %>.svg?style=flat-square)](https://www.npmjs.com/package/<%= pkg.name %>)
[![npm](https://img.shields.io/npm/dm/<%= pkg.name %>.svg?style=flat-square)](https://www.npmjs.com/package/<%= pkg.name %>)
<% }) %>
